@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(189, 169, 248, 0) 0%, #183f63 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f8d3f7 0%, #fa73f8 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(192, 168, 168, 0.6);
  filter: blur(750px);
}

.blur-backdrop-filter {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.container {
  @apply max-w-[124rem] mx-auto my-0 px-[0.625rem] pb-2;
}

.swiper_container {
  @apply h-[32.5rem] relative px-0 pt-2 pb-8;
}
.swiper-slide {
  @apply w-[23.125rem] h-[26.25rem] relative;
}
@media (max-width: 500px) {
  .swiper_container {
    @apply h-[29.375rem];
  }
  .swiper-slide {
    @apply w-[1!7.5rem] h-[!22.5rem];
  }
  .swiper-slide img {
    @apply w-[!17.5rem] h-[!22.5rem];
  }
}
.swiper-slide img {
  @apply w-[23.125rem] h-[26.25rem] object-cover rounded-[1.25rem];
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  @apply hidden;
}
.slider-controller {
  @apply relative flex items-center justify-center bottom-[1.25rem];
}
.slider-controller .swiper-button-next {
  @apply translate-x-[!-58%] left-[!58%];
}
.slider-controller .swiper-button-prev {
  @apply translate-x-[!-58%] left-[!58%];
}
@media (max-width: 990px) {
  .slider-controller .swiper-button-next {
    @apply translate-x-[!-70%] left-[!70%];
  }
}
@media (max-width: 450px) {
  .slider-controller .swiper-button-next {
    @apply translate-x-[!-80%] left-[!80%];
  }
}
@media (max-width: 990px) {
  .slider-controller .swiper-button-prev {
    @apply translate-x-[!-30%] left-[!30%];
  }
}
@media (max-width: 450px) {
  .slider-controller .swiper-button-prev {
    @apply translate-x-[!-20%] left-[!20%];
  }
}

.slider-controller .slider-arrow ion-icon {
  @apply text-[2rem] text-[#0087E0];
}
.swiper-pagination {
  @apply relative w-[!9.375rem] bottom-[0.625rem];
}
.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  background: white;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #0087E0;
}